<!DOCTYPE html>
<html>
<head>
  <title>Frest</title>
  <%= stylesheet_link_tag    "frest/application", media: "all" %>
  <%= javascript_include_tag "frest/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
